{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/scrum.png') }}" alt="Python Development" height="350">
                    <div class="card-body">
                    <h5 class="card-title">Our Scrum Process</h5>
                    <p class="card-text">
                        <ol>
                            <li>We have given each person a certain role in the scrum process. hello hello The leader of our group is Toby, the scrum master. He keeps us all in check and makes sure that we are all working on the correct part of the project. Gene is the Dev Ops and he helps to make sure that everything we create is pushed correctly. Nathan is the frontend developer which means that he designs the visual part of the webpage, like this. And finally, Caleb is the backend developer and he does most of the backend code.  </li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/chess.jpeg') }}" alt="Flask Development" height="450">
                    <div class="card-body">
                    <h5 class="card-title">Our plan</h5>
                    <p class="card-text">
                        <ol>
                            <li>adadadad Our plan is to create a chess game in which the character can buld their own board. They can add or remove pieces to make the game more diverse and enjoyable. We will do tis by assigning certain id's for each chess pieces and allowing the user to choose which pieces are available and where on the board they are placed. We will split this process bvetween the four of us with each person having a specific role that corresponds to their role in the scrum process.</li>
                        </ol>
                    </p>
                    <a href="{{ url_for('stub') }}" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/ideas.png') }}" alt="Backend and Persistence" height="225">
                    <div class="card-body">
                    <h5 class="card-title">Random ideas dadadadad</h5>
                    <p class="card-text">
                        <ol>
                            <li>We could have multiple pieces and even have different design colors for the board. We could create a leaderboard type system and maybe even add a multiplayer functionality.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}